

.App {
  padding-top: 80px;

}

.main-layout {
  padding-top: 5rem;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  min-height: calc(100vh - 120px);
  
  background-image: url('https://www.shutterstock.com/image-photo/network-security-system-personal-data-260nw-2117026061.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -45px;
  
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.95);
 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 400px;
}

.auth-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth-tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.auth-tabs button.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.auth-tabs button:hover {
  background-color: #f0f0f0;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.auth-form input:focus {
  border-color: #007bff;
  outline: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-label input {
  margin-right: 10px;
}

.auth-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.auth-message {
  margin-top: 15px;
  text-align: center;
  color: #ff0000;

}

.auth-message.success {
  color: #28a745;

}
